**/.idea/
**/.ipynb_checkpoints/
**/__pycache__/
**/.spyproject/
**/__MACOSX/
**/.pytest_cache/
**/.cache/
**/catboost_info/
**/dataset/
opencv_kornia/detectron2/
finetunning/data/
object_detection/otus_basketball_dataset/
object_detection/output/
*.pyc
